// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

// GENERAL STYLES

* { 
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(31, 39, 56);
}

// NAVIGATION

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // background-color: black;
  padding: 1rem 2rem;
}

nav h2 {
  color: white;
  font-size: 2rem;
}

.lastname {
  color: rgb(245, 36, 36);
  font-size: 2.4rem
}
li {
  padding: 2rem;
  font-size: 2rem;
  display: inline;
  list-style: none;
  color: white;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button {
  font-size: 2rem;
  height: 5rem;
  border-radius: 30px;
  border-color: black;
  padding: 0 30px;
}

button:hover {
  color:white;
  background-color: black;
  border-color: black;
  transform: scale(1.3),1s;
}


// HEADER

header {
  height: calc(100vh - 70px);
  width: calc(100vw - 100px);
  background-image: url(../images/Me.jpeg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// SLIDING TEXT

.slidingherotext  {
  color: white;
  overflow: hidden;
}


.slidingherotext h1 {
  animation: 2s slide-right 1s forwards;
  transform:translateX(100%);
}

.slidingherotext h2 {
  animation: 2s slide-right 2s forwards;
  transform:translateX(100%);
}


@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

.slidingherotext h1,
.slidingherotext h2  {
  font-size: 5rem;
}

// ABOUT ME 
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgb(24, 34, 54);
  a {
    font-size: 2rem;
    color: white;
  }
}

.about p:hover {
  .dcihover {
    color: rgb(245, 36, 36);
  }
}

.aboutme {
  width: 70%;
}

.about h2 {
  text-align: center;
  color: white;
  font-size: 4rem;
  margin-bottom: 5rem;
}



p {
  text-align: center;
  font-size: 2rem;
  line-height: 2.2;
  color: white;
  letter-spacing: 2.2;
}

// SKILLS SECTION

.skillssection {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillssection h2 {
  text-align: center;
  color: white;
  font-size: 4rem;
  margin-bottom: 5rem;
}

.skills {
  width: 50%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
    img {
      margin: 3rem 0;
    }
}

div img {
  height: 20rem;
}

// .skillbox:hover {
//     transform: scale(1.3);
// }

.skillbox:hover {
  animation-name: bounce-7;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


// CONTACT PAGE AND FORM



@media (max-width: 768px) {
  header {
    background-position: center;
    
  }
}