// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

// GENERAL STYLES

* { 
  font-size: 10px;
  font-family:  'Josefin Sans', serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: $primary;
}

// NAVIGATION

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
  li {
    padding: 2rem;
    font-size: 2rem;
    display: inline;
    list-style: none;
    color: white;
    &:hover {
      color: $secondary;
    }
  }
  .logo h2 {
    color: white;
    font-size: 2rem;
  }
  ul {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacticonstop {
    .fa-brands,
    .fa-solid {
      padding: 0 1rem;
      color: white;
      font-size: 3rem;
      &:hover {
        color: $secondary;
        transform: scale(1.2);
      }
    }
  }
}


.lastname {
  color: $secondary;
  font-size: 2.4rem
}

// HEADER

header {
  height: 100vh;
  width: 99vw;
  background-image: url(../images/dusseldorf-2098164.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    h1, h2 {
      font-size: 5rem;
      color: white;
      text-align: center;
    }
    .herotext {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
    }
}

// SLIDING TEXT

// .slidingherotext  {
//   color: white;
//   overflow: hidden;
// }


// .slidingherotext h1 {
//   font-size: 5rem;
//   animation: 2s slide-right 1s forwards ease;
//   transform:translateX(100%);
// }

// .slidingherotext h2 {
//   font-size: 5rem;
//   animation: 2s slide-right 2s forwards ease;
//   transform:translateX(100%);
// }


// @keyframes slide-right {
//   to {
//     transform:translateX(0);
//   }
// }


// ABOUT ME 
.about {
  padding: 20rem 0;
  background-color: $secondbackgroundcolor;
  .aboutsectionwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .aboutme {
      width: 40%;
      margin: 1rem;
    }
    a {
      font-size: 2rem;
      color: white;
    }
    h2 {
      text-align: center;
      color: white;
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    .profilepic{
      height: 600px;
      border-radius: 15px;
      margin-right: 3rem;
    }
  }
}

.about p:hover {
  .dcihover {
    color: $secondary;
  }
}


p {
  text-align: center;
  font-size: 2rem;
  line-height: 2.2;
  color: white;
  letter-spacing: 2.2;
}

// SKILLS SECTION

.skillssection {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
    color: white;
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}

.skills {
  width: 50%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

.skillbox {
  margin: 1rem 3rem;
}

div img {
  height: 20rem;
}

.skillbox:hover {
  animation-name: bounce-7;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


// PROJECTS SECTION
.projects{
  h2{
    color: white;
    font-size: 4rem;
    text-align: center;
  }
}


// FOOTER 

footer{
  p {
    font-size: 1rem;
  }
  a,
  h2 {
    font-size: 2rem;
    color: white;
  }
  .fa-brands,
  .fa-solid {
    font-size: 3rem;
  }
  a {
    &:hover {
      color: $secondary;
    }
  }
}

.footerwrapper {
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10rem 0 2rem 0;
}

.footericons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  i {
    margin: 0.7rem;
  }
}

.footerlist {
  h2 {
    padding: 0.7rem;
  }
}

// MEDIA QUERIES

@media (max-width: 768px) {
  .about {
    .aboutsectionwrapper {
      flex-direction: column;

      .profilepic{
        width: 70%;
        margin-right: 0rem;
        margin-bottom: 3rem;
      }
      .aboutme {
        width: 70%;
      }
  }
}

  header {
  width: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: initial;
  }
  nav {
    ul {
      display: none;
    }
  }
  .herotext {
    h1, h2 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 576px) {
   .footerwrapper {
    flex-direction: column;
   }
   .footericons {
    margin-left: 0;
    margin-top: 1rem;
   }

   .contacticonstop {
    display: none;
  }
  .about {
    .aboutsectionwrapper{
      .profilepic {
        height: 400px;
      }
      
    }
  }
  }

  


  